@import url(https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Aldrich&family=Roboto+Condensed:wght@300;400;700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html
{
    /* bu html bloğu tüm sayfanın standart olarak içerisindeki özelliklerde olmasını sağlar
    daha sonra her nesne için kendi css i içinde rem kullanarak buradaki değere göre kendini oranlar
    örneğin h1 için font-size: 1.6rem gibi bir değer girersek 10 x 1.6 = 16px değerini vermiş oluruz*/
    font-size: 10px;
}

body 
{
    font-family: Roboto Condensed,sans-serif;
    color: #fff;
    background-color: #212529;
    background-size: cover; /* arka plan resmini yayar */
}

@media (min-width: 1281px)
{
    .mesajKutusu
    {
        /* border: solid 0.1px;
        border-color: #2e80cd;
        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%); */
        width: 500px;
        height: 200px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Tam merkeze taşır */
        z-index: 1000;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: fill; /* Görselin kutuya tam oturması */
            position: absolute; /* Arka plana yerleştir */
            top: 0;
            left: 0;
            z-index: -1; /* İçeriğin arkasında kalması için */
        }

        .mesajKutusuIcerigi
        {
            border: solid 0px;
            width: 80%;
            height: 60%;
            font-size: 16px;
            color: white;
            margin-bottom: 10px;
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative; /* Üstte görünmesini sağla */
            z-index: 1;
        }

        button
        {
            background-color: #eeeeee;
            color: rgb(0, 0, 0);
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 14px;
            border-radius: 4px;
            position: relative; /* Üstte görünmesini sağla */
            z-index: 1;
        }
    }

    .menu-button 
    {
        position: fixed;
        right: 30px;
        top: 50px;
        background-color: #007BFF;
        color: white;
        font-size: 1.8rem;
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        z-index: 1000; /* Diğer elementlerin üstünde görünmesi için */
    }
    
    .sidebar 
    {
        position: fixed;
        top: 50px;
        right: -650px; /* Menü başlangıçta gizli */
        width: 650px;
        height: 170px;
        background-color: #333;
        color: white;
        transition: right 0.3s ease; /* Açılırken geçiş animasyonu */
        z-index: 999; /* Menü, butondan arka planda kalacak */
    
        h2 
        {
            margin: 0;
            padding: 10px;
        }
        
        ul 
        {
            list-style-type: none;
            padding: 0;
        }
        
        ul li 
        {
            padding: 10px;
            display: flex;
            font-size: 1.8rem;

            p
            {
                font-size: 1.8rem;
            }

            button
            {
                font-size: 1.5rem;
                width: 80px;
                height: 30px;
            }
        }
        
        ul li a 
        {
            color: white;
            text-decoration: none;
        }
    }

    .panel_1
    {
        border: solid 0.0px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;

        .panel_1_1
        {
            width: 100%;
            height: 88px;
            background-image: url('../images/logo_astrapol.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .panel_3
    {
        border: solid 0.0px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        gap: 10px;

        .panel_3_1
        {
            border: solid 0.0px;
            margin-top: 10px;
            width: 15%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-top: 250px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 140px;
            gap: 10px;

            .panel_3_1_butonlar
            {
                border: solid 0.1px;
                border-color: #2e80cd;
                clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                background: transparent;
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                color: white;

                .butonArkaPlanResmi
                {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    z-index: -1;
                    opacity: 0.4;
                }
            }

            .panel_3_1_butonlar:hover 
            {
                background-color:white;
                color: black;
            }
        }

        .panel_3_2
        {
            border: solid 0.0px;
            margin-top: 10px;
            width: 85%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            gap: 2px;
            background-image: url(../images/list_left.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center; /* Çerçeve merkezlenir */

            .hisseMenusu_1
            {
                border: solid 0.0px;
                width: 100%;
                height: auto;
                padding-top: 5px;
                padding-left: 5px;
                padding-bottom: 5px;
                display: flex;
                flex-direction: row;

                .dakDivi
                {
                    border: solid 0.0px;
                    width: 30%;
                    height: 140px;
                    padding-top: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    display: flex;
                    gap: 1px;
                    
                    .dakResmi
                    {
                        border: solid 0.0px;
                        width: 200px;
                        height: 120px;
                        background-image: url(../images/avaxtar-photo.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center; /* Çerçeve merkezlenir */
                        position: relative; /* Profil resmini konumlandırmak için */
                        display: flex;
                        justify-content: center; /* Profil resmini ortalar */
                        align-items: center; /* Profil resmini dikeyde ortalar */
                        overflow: hidden; /* Profil resminin çerçeveden taşmamasını sağlar */

                        img
                        {
                            width: 80%;
                            height: 90%;
                            position: absolute;
                            object-fit: cover;
                        }
                    }

                    .dakDetaylari
                    {
                        border: solid 0.0px;
                        width: 100%;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 1px;

                        .dakDetaylariSatirlar
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 2px 2px 2px 2px;
                            position: relative;
                            font-size: 1.5rem;

                            p
                            {
                                margin-left: 10px;
                            }

                            #dak_levelDegeri
                            {
                                margin-left: 2px;
                            }

                            #dak_hisseAgirlikDegeri
                            {
                                margin-left: 2px;
                            }

                            #dak_sonrakiLevelHisseAgirlikDegeri
                            {
                                margin-left: 2px;
                            }

                            #dak_erisimTablosu
                            {
                                margin-left: auto;
                                margin-right: auto;
                            }

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }
                        }
                    }
                }

                .finansDivi
                {
                    border: solid 0.0px;
                    width: 20%;
                    height: 140px;
                    padding-top: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 1px;

                    .finansDiviSatirlar
                    {
                        border: solid 0.1px;
                        border-color: #2e80cd;
                        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                        width: 100%;
                        height: 30px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 2px 2px 2px 2px;
                        position: relative;
                        font-size: 1.5rem;

                        p
                        {
                            margin-left: 10px;
                        }

                        #dak_islemUcreti
                        {
                            margin-left: 2px;
                        }

                        #dak_sonrakiLevelAvaxUcreti
                        {
                            margin-left: 2px;
                        }

                        #dak_toplamAvaxIndirimi
                        {
                            margin-left: 2px;
                        }

                        #dak_toplamAvaxUcreti
                        {
                            margin-left: 2px;
                        }

                        .dakDetayArkaPlanResmi
                        {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: -1;
                            opacity: 0.4;
                        }
                    }
                }

                .hisseMenusu_1_islemlerDivi
                {
                    border: solid 0.0px;
                    width: 10%;
                    height: 140px;
                    padding-top: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;

                    .hisseMenusu_1_islemlerDiviSecim
                    {
                        border: solid 0.0px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        font-size: 1.6rem;
                    }

                    button
                    {
                        border: solid 0.1px;
                        border-color: #2e80cd;
                        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                        background: transparent;
                        width: 60%;
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        position: relative;

                        .butonArkaPlanResmi
                        {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: -1;
                            opacity: 0.4;
                        }
                    }

                    button:hover 
                    {
                        background-color:white;
                        color: black;
                    }
                }
            }

            .hisseMenusu_2
            {
                border: solid 0.0px;
                width: 100%;
                height: auto;
                padding-top: 5px;
                padding-left: 5px;
                padding-bottom: 5px;
                display: flex;
                gap: 10px;

                .hisseMenusu_2_filtre
                {
                    border: solid 0.0px;
                    width: 15%;
                    height: 600px;
                    padding-top: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .hisseMenusu_2_filtreNadirlik
                    {
                        border: solid 0.0px;
                        width: 100%;
                        height: auto;
                        font-size: 1.5rem;

                        .nadirlikEtiketi
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            p
                            {
                                /* etiketin kaydırmasını burada yaptım çünkü bir üst kısımda padding ile yapınca arka planda
                                kullandığım img yi de etkiliyor */
                                margin-right: 10px;
                            }

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }
                        }

                        .nadirlikCesidi
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            position: relative;
                            gap: 2px;

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }

                            .nadirlikCesidiEtiketi
                            {
                                width: 70%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding-left: 10px;
                                gap: 5px;
                            }
                        }
                    }

                    .hisseMenusu_2_filtreNesne
                    {
                        border: solid 0.0px;
                        width: 100%;
                        height: auto;
                        font-size: 1.5rem;

                        .nesneEtiketi
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            p
                            {
                                /* etiketin kaydırmasını burada yaptım çünkü bir üst kısımda padding ile yapınca arka planda
                                kullandığım img yi de etkiliyor */
                                margin-right: 10px;
                            }

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }
                        }

                        .nesneCesidi
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            position: relative;
                            gap: 2px;

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }

                            .nesneCesidiEtiketi
                            {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding-left: 10px;
                                gap: 5px;
                            }
                        }
                    }

                    .hisseMenusu_2_filtreLevel
                    {
                        border: solid 0.0px;
                        width: 100%;
                        height: auto;
                        font-size: 1.5rem;

                        .levelEtiketi
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            p
                            {
                                /* etiketin kaydırmasını burada yaptım çünkü bir üst kısımda padding ile yapınca arka planda
                                kullandığım img yi de etkiliyor */
                                margin-right: 10px;
                            }

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }
                        }

                        .levelDegeri
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            width: 100%;
                            height: 30px;
                            display: flex;
                            position: relative;
                            gap: 2px;

                            .dakDetayArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }

                            .levelDegeriDivi
                            {
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding-left: 10px;
                                gap: 2px;

                                p
                                {
                                    width: 60px;
                                }

                                input
                                {
                                    width: 60px;
                                    height: 70%;
                                    text-align: right;
                                    padding-right: 5px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    .hisseMenusu_2_filtreButonlar
                    {
                        border: solid 0.0px;
                        width: 100%;
                        height: auto;
                        font-size: 1.5rem;
                        display: flex;
                        gap: 10px;

                        button
                        {
                            border: solid 0.1px;
                            border-color: #2e80cd;
                            clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                            background: transparent;
                            width: 50%;
                            height: 30px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            position: relative;

                            .butonArkaPlanResmi
                            {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                z-index: -1;
                                opacity: 0.4;
                            }
                        }

                        button:hover 
                        {
                            background-color:white;
                            color: black;
                        }
                    }
                }

                .hisseMenusu_2_liste
                {
                    border: solid 0.1px;
                    border-color: #2e80cd;
                    clip-path: polygon(1% 0, 98% 0, 100% 5%, 100% 95%, 98% 100%, 1% 100%, 0 95%, 0 5%);
                    width: 85%;
                    height: 600px;
                    display: flex;
                    gap: 5px;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding-top: 1px;
                    padding-left: 10px;
                    padding-right: 1px;
                    padding-bottom: 1px;
                    position: relative;

                    .nesneSecimKutusu
                    {
                        border: solid 0.0px;
                        width: 400px;
                        height: 175px;
                        display: flex;
                        justify-content: row;
                        gap: 2px;
                        padding-top: 1px;
                        padding-left: 1px;
                        padding-right: 1px;
                        padding-bottom: 1px;
                        margin-bottom: 10px;

                        .nesneSecimKutusu_resim_id_rarity_sembol
                        {
                            border: solid 0.0px;
                            width: 82px;
                            height: 142px;
                            display: flex;
                            flex-direction: column;
                            padding: 1px 1px 1px 1px;

                            .nesneSecimKutusu_resim
                            {
                                border: solid 0.0px;
                                width: 100%;
                                height: 80px;
                                background-image: url(../images/avaxtar-photo.png); /* çerçeve resmi */
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center; /* Çerçeve merkezlenir */
                                position: relative; /* Profil resmini konumlandırmak için */
                                display: flex;
                                justify-content: center; /* Profil resmini ortalar */
                                align-items: center; /* Profil resmini dikeyde ortalar */
                                overflow: hidden; /* Profil resminin çerçeveden taşmamasını sağlar */
                            }

                            .nesneSecimKutusu_resim img /* gen2 resmi */
                            {
                                width: 80%;
                                height: auto;
                                position: absolute;
                            }

                            .nesneSecimKutusu_resim input
                            {
                                position: absolute;
                                bottom: 8px;
                                right: 7px;
                            }

                            .nesneSecimKutusu_id
                            {
                                border: solid 0.1px;
                                border-color: #2e80cd;
                                clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                width: 100%;
                                height: 20px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                
                                p
                                {
                                    margin-left: 10px;
                                }

                                #nesne_id
                                {
                                    margin-left: 2px;
                                }

                                .gen2YatayDetayArkaPlanResmi
                                {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    z-index: -1;
                                    opacity: 0.4;
                                }
                            }

                            .nesneSecimKutusu_rarity_sembol
                            {
                                border: solid 0.1px;
                                border-color: #2e80cd;
                                clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                width: 100%;
                                height: 40px;
                                display: flex;

                                .gen2YatayDetayArkaPlanResmi
                                {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    z-index: -1;
                                    opacity: 0.4;
                                }

                                .nesneSecimKutusu_rarity
                                {
                                    border: solid 0px;
                                    width: 70%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    p
                                    {
                                        margin-left: 10px;
                                    }
                                }

                                .nesneSecimKutusu_sembol
                                {
                                    border: solid 0px;
                                    width: 30%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                .nesneSecimKutusu_sembol img
                                {
                                    width: 75%;
                                    height: 75%;
                                    object-fit: contain;
                                }
                            }
                        }
            
                        .nesneSecimKutusu_ozellikler
                        {
                            border: solid 0.0px;
                            width: 314px;
                            height: 172px;
                            padding: 1px 1px 1px 1px;

                            .ozellikler_name
                            {
                                border: solid 0.1px;
                                border-color: #2e80cd;
                                clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                width: 100%;
                                height: 20px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                p
                                {
                                    margin-left: 10px;
                                }

                                .gen2YatayDetayArkaPlanResmi
                                {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    z-index: -1;
                                    opacity: 0.4;
                                }
                            }

                            .ozellikler_level_xp
                            {
                                border: solid 0px;
                                width: 100%;
                                height: auto;
                                display: flex;

                                .ozellikler_level
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 50%;
                                    height: 20px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;

                                    p
                                    {
                                        margin-left: 10px;
                                    }

                                    #nesne_levelDegeri
                                    {
                                        margin-left: 2px;
                                    }

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }

                                .ozellikler_xp
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 50%;
                                    height: 20px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;

                                    p
                                    {
                                        margin-left: 10px;
                                    }

                                    #nesne_xpDegeri
                                    {
                                        margin-left: 2px;
                                    }

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }
                            }

                            .ozellikler_dna
                            {
                                border: solid 0px;
                                width: 100%;
                                height: auto;
                                display: flex;

                                .dna_hp
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 25%;
                                    height: 40px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }

                                .dna_def
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 25%;
                                    height: 40px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }

                                .dna_atk
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 25%;
                                    height: 40px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }

                                .dna_speed
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 25%;
                                    height: 40px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }
                            }

                            .ozellikler_rna
                            {
                                border: solid 0px;
                                width: 100%;
                                height: auto;
                                display: flex;

                                .rna_detaylar
                                {
                                    border: solid 0px;
                                    width: 75%;
                                    height: auto;
                                    display: flex;
                                    flex-direction: column;

                                    .rna_genus
                                    {
                                        border: solid 0.1px;
                                        border-color: #2e80cd;
                                        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                        width: 100%;
                                        height: 20px;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;

                                        p
                                        {
                                            margin-left: 10px;
                                        }

                                        #nesne_genusDegeri
                                        {
                                            margin-left: 2px;
                                        }

                                        .gen2YatayDetayArkaPlanResmi
                                        {
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            z-index: -1;
                                            opacity: 0.4;
                                        }
                                    }

                                    .rna_code
                                    {
                                        border: solid 0.1px;
                                        border-color: #2e80cd;
                                        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                        width: 100%;
                                        height: 20px;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;

                                        p
                                        {
                                            margin-left: 10px;
                                        }

                                        #nesne_codeDegeri
                                        {
                                            margin-left: 2px;
                                        }

                                        .gen2YatayDetayArkaPlanResmi
                                        {
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            z-index: -1;
                                            opacity: 0.4;
                                        }
                                    }

                                    .rna_talent
                                    {
                                        border: solid 0.1px;
                                        border-color: #2e80cd;
                                        clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                        width: 100%;
                                        height: 20px;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;

                                        p
                                        {
                                            margin-left: 10px;
                                        }

                                        #nesne_talentDegeri
                                        {
                                            margin-left: 2px;
                                        }

                                        .gen2YatayDetayArkaPlanResmi
                                        {
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            z-index: -1;
                                            opacity: 0.4;
                                        }
                                    }
                                }

                                .rna_sembol
                                {
                                    border: solid 0.1px;
                                    border-color: #2e80cd;
                                    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                    width: 25%;
                                    height: 60px;

                                    .gen2YatayDetayArkaPlanResmi
                                    {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        z-index: -1;
                                        opacity: 0.4;
                                    }
                                }
                            }

                            .ozelliklerDegerDivi
                            {
                                border: solid 0.1px;
                                border-color: #2e80cd;
                                clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
                                width: 100%;
                                height: 30px;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                font-size: 1.5rem;

                                p
                                {
                                    margin-right: 10px;
                                }

                                #nesne_avaxDegeri
                                {
                                    margin-left: -8px;
                                }

                                .gen2YatayDetayArkaPlanResmi
                                {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    z-index: -1;
                                    opacity: 0.4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) 
{

}